* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    transition: 1s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    transform: scale(1.1);
}

h1 {
    letter-spacing: 1px;
    margin: 1rem;
}