div {
    background-color: #000;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}

section {
    border: 1px solid;
    padding: 1rem;
    position: relative;
}

.position {
    right: 20px;
    background-color: red;
    position: absolute;
    width: auto;
    height: auto;
    inset: 10px;
}