.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
    grid-template-areas: 
    "header header header" 
    "main main aside"
    "footer footer footer";
    gap: 1rem;
    height: 100vh;
}

.container > *{
    border: 1px solid;
}

.container header:nth-child(1){
    grid-area: header;
}

.container main:nth-child(2){
    grid-area: main;
}

.container footer {
    grid-area: footer;
}